---
name: "Validate Renovate Config"

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - .github/renovate-bot.json5
      - .github/renovate.json5
      - .github/renovate/**.json5
  pull_request:
    branches: ["main"]
    paths:
      - .github/renovate-bot.json5
      - .github/renovate.json5
      - .github/renovate/**.json5
      - .github/workflows/renovate-config-validator.yaml

env:
  RENOVATE_BOT_CONFIG_FILE: .github/renovate-bot.json5
  RENOVATE_REPO_CONFIG_FILE: .github/renovate.json5

jobs:
  renovate:
    name: Validate config
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Validate bot config
        uses: docker://renovate/renovate:37.83.5-slim
        with:
          args: renovate-config-validator --strict "${{ env.RENOVATE_BOT_CONFIG_FILE }}"

      - name: Validate repository
        uses: docker://renovate/renovate:37.83.5-slim
        with:
          args: renovate-config-validator --strict "${{ env.RENOVATE_REPO_CONFIG_FILE }}"
